@model MVCBierenApplication.Models.Bier
@{
    ViewBag.Title = "Verwijderen";
}

<h2>@Model.Naam verwijderen?</h2>
<form method="post" action="~/Bier/Delete/@Model.BierNr">
    @Html.AntiForgeryToken()
    <input type="submit" value="Delete" />
</form>

